.cabecalho {
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 70px;
    margin: 5px;
    cursor: pointer;
}

.links {
    color: black;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    margin-top: auto;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.links:hover {
    color: red;
}

.userName {
    color: black;
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 10px;
    border-radius: 7.5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.profile:hover {
    background: #e7e7e7;
}