.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(231, 102, 26, 0.19) ,rgba(226, 223, 223, 0.315) 10%);
}

.pageTitle {
    display: flex;
    color: #f27934;
    font-family: 'Asap Condensed', sans-serif;
    font-size: 72px;
    margin: 0;
    justify-content: flex-start;
    width: 95vw;
}

.destaques {
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    justify-content: space-around;
    margin: 50px 0 50px 0;
}

.produtoDestaque {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    max-width: 450px;

}

.tituloDestaque {
    display: flex;
    flex-direction: row;
}

.anuncioProduto {
    font-family: 'Asap Condensed', sans-serif;
    font-size: 30px;
    color: #f27934;
}

.imgproduto {
    max-height: 200px;
    width: auto;
    height: auto;
}

.descricao {
    font-family: 'Asap Condensed', sans-serif;
    font-weight: 500;
    color: #443831;
    margin: 0 25px 0 25px;
    text-align: justify;
}