.cabecalho {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    align-items: flex-end;
}

.logoDesk {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 50px;
    padding: 0;
}

.imglogo {
    max-height: 50px;
    margin-right: 10px;
    width: auto;
    height: auto;
    cursor: pointer;
}

.imgnome {
    max-height: 40px;
    width: auto;
    height: auto;
}

.imglogomobile {
    display: none;
}

.title {
    display: none;
}

.links {
    color: #f27934;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    cursor: pointer;
    font-family: 'Asap Condensed', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.menuItem {
    color: #f27934 !important;
    font-family: 'Asap Condensed', sans-serif !important;
    font-weight: 700 !important;
}

.menuItem:hover {
    text-decoration: none;
}

.links:hover {
    text-shadow: 1.5px 1.5px 2px rgb(185, 185, 185);
    text-decoration: none;
    color: #f27934;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-radius: 7.5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.profile:hover {
    background: #e7e7e7;
}

.menu {
    display: none;
}

@media (max-width: 800px) {
    .links {
        font-size: 15px;
    }
    .imglogo {
        max-height: 30px;
        margin-right: 6px;
        width: auto;
        height: auto;
        cursor: pointer;
    }
    
    .imgnome {
        max-height: 24px;
        width: auto;
        height: auto;
    }
    
}

@media (max-width: 600px) {
    .logoDesk {
        display: none;
    }
    .links {
        display: none;
    }

    .profile {
        display: none;
    }

    .imglogomobile {
        display: flex;
        max-height: 50px;
        margin-right: 10px;
        width: auto;
        height: auto;
        cursor: pointer;
    }
    .title {
        display: flex;
        color: #f27934;
        font-family: 'Asap Condensed', sans-serif;
    }

    .menu {
        display: flex;
    }
}

@media (max-width: 430px) {
    .title{
        font-size: 1.3rem;
    }
}

@media (max-width: 280px) {
    .imglogomobile {
        max-height: 25px;
    }

    .title{
        font-size: 0.8rem;
    }
}