.carrinho {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    align-items: center;
    background-image: linear-gradient(
        rgba(231, 102, 26, 0.19),
        rgba(226, 223, 223, 0.315) 10%
    );
}

.tituloCarrinho {
    font-family: 'Asap Condensed', sans-serif;
    font-size: 60px;
    color: #f27934;
    text-align: center;
}

.produtosCarrinho {
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin: 20px 0;
    box-shadow: 10px 5px 5px rgb(100, 100, 100);
}

.anuncioProduto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.tituloProduto {
    font-family: 'Asap Condensed', sans-serif;
    font-size: 30px;
    color: #f27934;
    text-align: center;
    width: 80%;
}

.sobreProduto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 45px;
}

.qntdProduto {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.qntd {
    width: 45px;
    height: 45px;
    font-family: 'Asap Condensed', sans-serif;
    font-size: 30px;
    text-align: center;
}

.bigIcon {
    display: flex;
}

.littleIcon {
    display: none;
}

.precoProduto {
    font-family: 'Asap Condensed', sans-serif;
    font-size: 30px;
    height: 45px;
    text-align: center;
}

.finalizacao {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
    margin: 20px 0;
}

.finalButton {
    font-family: 'Asap Condensed', sans-serif;
    font-size: 30px;
    text-align: center;
    font-Weight: 700;
    background-color: #f27934;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.finalButton:hover {
    box-shadow: 2px 2px 5px rgb(100, 100, 100);
    text-decoration: none;
    color: white;
}

.total {
    font-family: 'Asap Condensed', sans-serif;
    font-size: 30px;
    text-align: center;
    width: auto;
    height: auto;
}

@media (max-width: 500px) {
    .tituloProduto {
        font-size: 18px;
    }

    .qntd {
        width: 20px;
        height: 30px;
        font-size: 18px;
    }

    .bigIcon {
        display: none;
    }

    .littleIcon {
        display: flex;
    }
    
    .precoProduto {
        font-size: 18px;
        height: 30px;
    }

    .finalButton {
        font-size: 18px;
        padding: 5px;
        border-radius: 5px;
    }

    .total {
        font-size: 22px;
    }
}

@media (max-width: 280px){
    .tituloProduto {
        font-size: 14px;
    }

    .qntd {
        width: 20px;
        height: 20px;
        font-size: 14px;
    }

    .precoProduto {
        font-size: 14px;
        height: 20px;
    }

    .finalButton {
        font-size: 14px;
        padding: 2px;
        border-radius: 2px;
    }

    .total {
        font-size: 16px;
    }
}